$color-principal: #97BEAD;
$color-secundario: rgb(238, 208, 169);
$color-tipografia-principal: #428568;
$color-tipografia-secundario: rgb(177, 68, 131);
$color-extra: rgb(0, 55, 128);

/*Mapas*/
$colores:(
    principal: $color-principal,
    secundario: $color-secundario,
    tipoPrincipal: $color-tipografia-principal,
    tipoSecundario: $color-tipografia-secundario,
    extra: $color-extra
)