$color-principal: #3AA4D8;
$color-secundario: #7ED321;
$color-tipografia-principal: #EFEFEF;
$color-tipografia-secundario: #2C3E50;
$color-extra: #F39C12;

/*Mapas*/
$colores:(
    principal: $color-principal,
    secundario: $color-secundario,
    tipoPrincipal: $color-tipografia-principal,
    tipoSecundario: $color-tipografia-secundario,
    extra: $color-extra
)