$color-principal: #82B1FF;
$color-secundario: #B7E4C7;
$color-tipografia-principal: #E0E0E0;
$color-tipografia-secundario: #F5F5DC;
$color-extra: rgb(0, 55, 128);

/*Mapas*/
$colores:(
    principal: $color-principal,
    secundario: $color-secundario,
    tipoPrincipal: $color-tipografia-principal,
    tipoSecundario: $color-tipografia-secundario,
    extra: $color-extra
)