.titulo{
    color: map-get($colores, tipoPrincipal);
    text-shadow: 2px 2px 2px map-get($colores,extra);
    font-size: 50px;
}
.fc .fc-timegrid-slot{
    height: 6em;
 }
 
 .fc-col-header-cell-cushion{
     text-transform: uppercase;
     text-decoration: none;
     color: map-get($colores,extra );
 }
 .fc-toolbar-title{
     display:none;
     
 }
 .fc .fc-button {
    @media only screen and (max-width: 768px){
        font-size: 16px; /* Cambia el tamaño de fuente */
        padding: 5px 5px; /* Ajusta el padding para cambiar el tamaño del botón */
    }
}
.fc-col-header-cell-cushion{
    color: map-get($colores,extra );
}
.fc-timegrid-slot-label-cushion{
    font-weight: bold;
}
.fc .fc-timegrid-divider{
    background-color: map-get($colores,extra ); 
}
.fc .fc-scrollgrid-section{
    height:10px;
}
.fc .fc-timegrid-now-indicator-line{
    border: solid 2px map-get($colores,extra);
}
.fc .fc-timegrid-now-indicator-arrow{
    border-color: map-get($colores,extra);
}

.fc-event-main{
    img{
        width: 20px;
        height: 20px;
    }
    width: 80%;
    height: 80%;

}
.fc-timegrid-event-harness > .fc-timegrid-event{
    height: 75%
}
.fc-direction-ltr{
    height: 500px;
}
.fc-list-event , .fc-v-event, .fc-list-day-cushion {
    background-color: map-get($colores,$color-evento);
}
.fc .fc-list-event-dot{
    border-color: map-get($colores,principal);
}
.pacienteEvento{
    font-size: 11px;
}
.giro{
    transform: rotate(-90deg);
    color:map-get($colores ,extra);
    position: absolute;
    bottom:5%;
    right: 15%;
}
.header {
    .navbar-brand{
        margin: auto 0;
    }
}