.header {
    background-color: map-get($colores,principal);
    .btn-success{
        background-color: map-get($colores ,extra);
        color: #ffffff;
        text-decoration: none;
        &:hover {
            background-color: rgb(5, 80, 177);
        }
    }
    h1{
        color: map-get($colores,tipoPrincipal);
    }
    .navbar-brand {
        margin-right: 2rem;
    }
}