.header {
    background-color: map-get($colores,principal);
    .btn-success{
        background-color: map-get($colores ,extra);
        color: map-get($colores , tipoPrincipal);
        text-decoration: none;
    }
    h1{
        color: map-get($colores,tipoPrincipal);
    }
    
}