.botones{
    .btn{
        background-color: map-get($colores, extra);
        a{
            color:map-get($colores,tipoPrincipal);
            text-decoration: none;
        }
    }
}

.btn-lateral-izq ,.btn-lateral-der{
    border: none;
    background-color: transparent;
    
}

.pages-background{
    background-image: linear-gradient(to top,#ffcc8ab3 ,#ffb45280), url(../assets/img/pantheon.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media only screen and (max-width: 768px){
        height: 75vh;
    }
}

.offcanvas{
    background-color: map-get($colores,extra );
}
.botonUno{
    background-color: map-get($colores,secundario );
    color:whitesmoke;
    &:hover{
        background-color: map-get($colores,principal );
    }
}
.eliminar{
    background-color: darkred;
    color:whitesmoke;
    &:hover{
        background-color: map-get($colores,principal );
    }
}
.registrar{
    background-color: darkgreen;
    color:whitesmoke;
    &:hover{
        background-color: map-get($colores,principal );
    }
}
.offcanvas-title{
    color: whitesmoke;
}
.campoPaciente{
    color:map-get($colores,tipoSecundario )
}
.imagenBoton{
    @media only screen and (max-width: 768px){
        height: 50px;
    }
}
