.botones{
    .btn{
        background-color: map-get($colores, extra);
        color:map-get($colores,tipoPrincipal); 
    }
}

.vh-75{
    height: 70vh;
}
input, textarea{
    background-color: gray;
    border: none;
    color: #ffffff;
}