$color-principal: #ff69b47e;//#edb0ff;
$color-secundario: #3498DB;//#b993ff;
$color-tipografia-principal: #56b7dd;//#E0E0E0;
$color-tipografia-secundario: #3778b9;//#F5F5DC;
$color-extra:#0f4296;//rgb(194, 130, 231);
$color-evento:#e492bb8a;

/*Mapas*/
$colores:(
    principal: $color-principal,
    secundario: $color-secundario,
    tipoPrincipal: $color-tipografia-principal,
    tipoSecundario: $color-tipografia-secundario,
    extra: $color-extra,
    evento:$color-evento
)