$color-principal: #edb0ff;
$color-secundario: #b993ff;
$color-tipografia-principal: #E0E0E0;
$color-tipografia-secundario: #F5F5DC;
$color-extra: rgb(194, 130, 231);

/*Mapas*/
$colores:(
    principal: $color-principal,
    secundario: $color-secundario,
    tipoPrincipal: $color-tipografia-principal,
    tipoSecundario: $color-tipografia-secundario,
    extra: $color-extra
)